@import 'utils/constants';

.is-primary {
  color: white;
  background-color: $primary-color;
}

.is-secondary {
  color: $dark-color;
  background-color: $secondary-color;
}

.is-dark {
  color: white;
  background-color: $dark-color;
}
