body {
  background-color: #efefef !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-bottom {
  margin-bottom: 1rem;
}

.secondary-header {
  text-align: left;
}

a.box-close{
  position: absolute;
  z-index: 100;

  top: 20%;
  left: 85%;

  line-height: 0;
  cursor:pointer;
  color: red !important;
  font-size: 31px;
  font-weight: bold;

  /*
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: red;
  padding: 11px 3px;
  */
}

.snippet-button {
  float: right;
}

.left-align {
  text-align: left;
}

.navbar-theme {
  background-color: #1976d2;
  color: white;
}
.navbar-theme a {
  color: white;
}

.keyboard-container {
  text-align: left;
}
.buttongroup-wrapper {
  display: inline-block;
}

.sub-buttons {
  width: 15em;
}
